@keyframes flash {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.3;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  color: #444;
  font-weight: 400;
  overflow: hidden;
  margin: 0;
}

canvas {
  display: none;
}

a {
  padding-bottom: 0.1rem;
  text-decoration: none;
  color: currentcolor;
}

  a:hover {
    color: #444;
    border-bottom: 1px solid #444;
  }


.btn {
  border: 0;
  background: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 0;
  margin: 0;
  outline: none;
}

input[type=text] {
  border: 0;
  margin: 0;
  padding: 0.5rem 0.7rem;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: center;
  background: white;
  border: 2px solid white;
  outline: none;
}

  input[type=text]:focus {
    border-color: #444;
  }

  input[type=text].warn {
    border-color: #F44336;
  }

main {
  max-width: 600px;
  margin: 0 auto;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  color: #ccc;
}

  footer a {
    margin: 0 0.5em;
  }

.colour-bar {
  position: relative;
  z-index: 10;
  height: 3rem;
  background: white;
}

  .colour-bar > div {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #2196F3;
    opacity: 0.3;
  }

  .colour-bar h1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin-left: 2rem;
    color: #2196F3;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .colour-bar > div:nth-child(9) {
    width: calc(100% / 1.6 / 1.6 / 1.6 / 1.6 / 1.6 / 1.6 / 2);
    opacity: 1;
  }

  .colour-bar > div:nth-child(8) {
    width: calc(100% / 1.6 / 1.6 / 1.6 / 1.6 / 1.6 / 1.6);
  }

  .colour-bar > div:nth-child(7) {
    width: calc(100% / 1.6 / 1.6 / 1.6 / 1.6 / 1.6);
  }

  .colour-bar > div:nth-child(6) {
    width: calc(100% / 1.6 / 1.6 / 1.6 / 1.6);
  }

  .colour-bar > div:nth-child(5) {
    width: calc(100% / 1.6 / 1.6 / 1.6);
  }

  .colour-bar > div:nth-child(4) {
    width: calc(100% / 1.6 / 1.6);
  }

  .colour-bar > div:nth-child(3) {
    width: calc(100% / 1.6);
  }

  .colour-bar > div:nth-child(2) {
    width: calc(100%);
  }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

video, .action, .video-container, .upload-container, .input-container, canvas {
  position: relative;
  width: 200px;
  height: 200px;
}

.action {
  position: relative;
  overflow: hidden;
  // border-radius: 150px;
  z-index: 0;
}

.action-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 600px;
}

.animate-container {
  // transition: transform 0.3s ease-out 0s;
}

.container {
  background: #eee;
  border-radius: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.video-container button {
  cursor: pointer;
  background: white;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  opacity: 0.5;
  transition: opacity 0.2s linear 0s;
}

.video-container button.hide {
  opacity: 0;
}

.video-container button img {
  width: 80px;
  height: 80px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

  .input-container input {
    width: 70%;
    margin-top: 3rem;
  }

  .input-container button {
    background: #444;
    margin-bottom: 1rem;
  }

.sample{
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  color: transparent;
}

  .colour--large {
    height: 75px;
    width: 75px;
    border-radius: 75px;
  }

  .colour--show {
    opacity: 1;
  }

  .colour:after {
    opacity: 1;
    transition: none;
  }

  .colour--animate-fullscreen {
    //transition: transform 0.3s ease-in-out 0s;
  }

.sample-container, .samples-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sample-container {
  width: 75px;
  height: 75px;
  border-radius: 75px;
}

  .sample-container .sample {
    width: 75px;
    height: 75px;
    border-radius: 75px;
  }

.samples-container {
}

  .samples-container .sample {
  }

  .samples-container .sample:last-child:after {
    position: absolute;
    top: 0;
    left: 50px;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: currentColor;
    opacity: 1;
  }

  .samples-container .sample.sample--last:after {
    opacity: 0;
    transition: opacity 0.4s ease-in-out 0s;
  }

.colour-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.colour-data, .colour-actions {
  flex-grow: 1;
  width: 120px;
  padding: 0 1rem 0 0;
}

.colour-actions {
  padding: 0 0 0 1rem;
}

.colour-data {
  text-align: right;
}

  .colour-data > div {
    padding: 0.2rem 0;
  }

.file-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-upload + label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.file-upload + label img {
  width: 30%;
  height: 30%;
}

.file-upload:focus + label,
.file-upload + label:hover {
}
